.susan-container {
  position: absolute;
  /* border: solid 1px green; */
  height: 310px;
  width: 550px;
  top: 25%;
  left: 10%;
  display: block;
}

/* position: absolute;
border: solid 1px green;
height: 310px;
width: 550px;
top: 12%;
left: -9%; */
