.top {
  transform: rotate(180deg);
}
.side {
}
.color {
  touch-action: manipulation;
  position: fixed;
  justify-items: center;
  height: 100px;
  width: 200px;
  border-radius: 8px;
  opacity: 0.9;
  flex-grow: 1;
  box-shadow: 0px 5px 10px white(245, 244, 244, 0.4);
}
.blue {
  background: blue;
  position: fixed;
  z-index: 1;
  top: 14.5vh;
  left: 18.5vw;
  transform: rotate(0deg);
  border-radius: 50px 50px 20px 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: rgb(6, 6, 105);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
#blue:focus {
  animation: grow 0.15s;
}
#activeBlue blue:active {
  background: rgb(33, 187, 238);
}

.red {
  z-index: 2;
  background: red;
  top: 20vh;
  left: 26.5vw;
  transform: rotate(-90deg) translate(0, -100%);
  transform-origin: 100% 0;
  border-radius: 20px 20px 50px 50px;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: rgb(175, 5, 5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
#red:focus {
  animation: grow 0.15s;
}
#activeRed red:active {
  background: rgb(247, 50, 188);
}
.green {
  z-index: 3;
  background: green;
  top: 44.5vh;
  left: 18.5vw;
  transform: rotate(0deg);
  border-radius: 20px 20px 50px 50px;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: rgb(2, 83, 2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
#green:focus {
  animation: grow 0.15s;
}

#activeGreen green:active {
  background: rgb(132, 216, 7);
}
.purple {
  z-index: 4;
  background: purple;
  left: 3vw;
  top: 20vh;
  transform: rotate(-90deg) translate(0, -100%);
  transform-origin: 100% 0;
  border-radius: 50px 50px 20px 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: rgb(92, 2, 92);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
#purple:focus {
  animation: grow 0.15s;
}
#activePurple purple:active {
  background: rgb(236, 24, 236);
}

#go {
  z-index: 1;
  background: black;
  height: 100px;
  width: 140px;
  border-radius: 45%;
  top: 29.5vh;
  left: 21vw;
  color: white;
  font-size: 3em;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
#go:focus {
  animation: goGrow 0.2s;
}
#go:active {
  background: rgb(48, 45, 45);
}
#background {
  z-index: 5;
  top: -20px;
  left: -23px;
  height: 390px;
  width: 446px;
  border-radius: 45%;
  background: grey;
  border: 1.5px solid black;
  opacity: 0.8;
}
.blink {
  animation: blink 0.5s;
}
@keyframes grow {
  from {
    height: 100px;
    width: 200px;
  }
  to {
    height: 115px;
    width: 220px;
  }
}
@keyframes goGrow {
  from {
    height: 100px;
    width: 140px;
  }
  to {
    height: 110px;
    width: 160px;
  }
}
@keyframes blinkBlue {
  from {
    background-color: blue;
  }
  to {
    background-color: rgb(33, 187, 238);
  }
}
@keyframes blinkRed {
  from {
    background-color: red;
  }
  to {
    background-color: rgb(247, 100, 203);
  }
}
@keyframes blinkGreen {
  from {
    background-color: green;
  }
  to {
    background-color: rgb(132, 216, 7);
  }
}
@keyframes blinkPurple {
  from {
    background-color: purple;
  }
  to {
    background-color: rgb(211, 30, 211);
  }
}
.theseButtons {
  padding-top: 55vh;
  padding-left: 8vw;
  padding-bottom: 3vh;
  z-index: 1;
}
