.top {
  transform: rotate(180deg);
}

.color {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  touch-action: manipulation;
  justify-items: center;
  height: 100px;
  width: 200px;
  opacity: 0.9;
  cursor: pointer;
  flex-grow: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

#blue {
  position: relative;
  top: -2%;
  background: blue;
  z-index: 1;
  transform: rotate(0deg);
  border-radius: 50px 50px 20px 20px;
  color: rgb(6, 6, 105);
}

#blue:focus {
  animation: grow 0.15s;
}

#blue:active {
  background: rgb(33, 187, 238);
}

#red {
  position: relative;
  z-index: 2;
  background: red;
  top: -19%;
  left: 56%;
  transform: rotate(-90deg) translate(0, -100%);
  transform-origin: 100% 0;
  border-radius: 20px 20px 50px 50px;
  color: rgb(175, 5, 5);
}

#red:focus {
  animation: grow 0.15s;
}

#red:active {
  background: rgb(247, 50, 188);
}

#green {
  position: relative;
  z-index: 3;
  background: green;
  left: 36%;
  top: 2%;
  transform: rotate(0deg);
  border-radius: 20px 20px 50px 50px;
  color: rgb(2, 83, 2);
}

#green:focus {
  animation: grow 0.15s;
}

#green:active {
  background: rgb(132, 216, 7);
}

#purple {
  position: relative;
  z-index: 4;
  background: purple;
  top: 16%;
  left: -2%;
  transform: rotate(-90deg) translate(0, -100%);
  transform-origin: 100% 0;
  border-radius: 50px 50px 20px 20px;
  color: rgb(92, 2, 92);
}

#purple:focus {
  animation: grow 0.15s;
}

#purple:active {
  background: rgb(236, 24, 236);
}

#go {
  position: relative;
  z-index: 1;
  background: black;
  height: 110px;
  width: 140px;
  border-radius: 45%;
  top: 1%;
  left: 5%;
  color: white;
  font-size: 3em;
}

#go:focus {
  animation: goGrow 0.2s;
}

#go:active {
  background: rgb(48, 45, 45);
}

.blink {
  animation: blink 0.5s;
}

@keyframes grow {
  from {
    height: 100px;
    width: 200px;
  }
  to {
    height: 105px;
    width: 210px;
  }
}

@keyframes goGrow {
  from {
    height: 100px;
    width: 140px;
  }
  to {
    height: 110px;
    width: 160px;
  }
}

@keyframes blinkBlue {
  from {
    background-color: blue;
  }
  to {
    background-color: rgb(33, 187, 238);
  }
}

@keyframes blinkRed {
  from {
    background-color: red;
  }
  to {
    background-color: rgb(247, 100, 203);
  }
}

@keyframes blinkGreen {
  from {
    background-color: green;
  }
  to {
    background-color: rgb(132, 216, 7);
  }
}

@keyframes blinkPurple {
  from {
    background-color: purple;
  }
  to {
    background-color: rgb(211, 30, 211);
  }
}

.gameButtons {
  padding-top: 70vh;
  padding-left: 15vw;
  padding-bottom: 3vh;
  z-index: 1;
}

.button {
  height: 80px;
  font-size: 1.5em;
  border: solid 1px black;
  background-color: #99a036;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  z-index: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
