@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background: url(https://res.cloudinary.com/dh41vh9dx/image/upload/v1545059996/Landscape-Mode.png) no-repeat center
      center fixed;
    background-size: contain;
    background-color: black;
    background-size: 80%;
    position: absolute;
    z-index: 100;
  }
}
.app-container {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  transition: background-image 0.7s ease-in-out;
}
