.page {
  border: solid 1px black;
}
.theseButtons {
  padding-top: 55vh;
  padding-left: 8vw;
  padding-bottom: 3vh;
  z-index: 1;
}
.text-window {
  display: flex;
  background-color: rgba(128, 128, 128, 0.5);
  width: 499px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: white;
  margin: 0 20px;
  padding: 25px;
  border-radius: 10px;
  border: solid;
}
